body{
    background-color: white;
}

.main{
    position: relative;
    width: 100%; 
    
    
}
.f-pic{
    width: 100%;
    height: auto;
    display: block;
    height: 550px;
}
.text {
   
    position: absolute;
    top: 35%; 
    width: 40%;
    font-weight: lighter;
    
    
} 
    
    
.text p{
    font-size: 20px;
    font-weight: lighter;
    color: rgb(109, 104, 104);

}
h6{
    margin-bottom: 0;
    color: rgb(58, 56, 56);
}
.wel-text{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.readMore{
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    color: black;
}
.welcome{
    margin-top: 100px;
}
.sepration{
    width: 100%;
    height: 2px;
    background-color: rgba(117, 118, 119, 0.253);
}
.g-icon{
    width: 40px;

}
.main-gift{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
}
.g-img{
    display: flex;
    justify-content: space-between;
    margin: 0px 130px;
    margin-top: 100px;
    
}

.end{
    width: 100%;
    height: 700px;
    /* background-color: black; */
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.fa-icon{
    width: 25px;
    margin: 0 15px;
    margin-top: 4px; 
    opacity: 0.6;

}
.fa-icon:hover{
    opacity: 1;
}
.i-icon{
    width: 35px;
    margin: 0 15px;
    margin-top: 0px;
    opacity: 0.6;
}
.i-icon:hover{
    opacity: 1;
}
.y-icon{
    width: 25px;
    margin: 0px 15px;
    margin-top: 5px; 
    opacity: 0.6;
}
.y-icon:hover{
    opacity: 1;
}
.one{
    width: 35%;
    font-size: 25px;
    font-weight: 500;
    padding-top: 17%;
    
}
.one p{
    font-size: 16px;
    font-weight: 100;
    opacity: 0.8;
}
.two{
    width: 35%;
    /* background-color: aqua; */
    display: flex;
    margin-left: 100px;
    flex-direction: column;
    padding-top: 15%;
}
.two p{
    text-align: left;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.733);
}
.two a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.733);
    text-align: left;
    margin: 2px 0;
    opacity: 0.8;
}
.two a:hover{
    opacity: 1;
}
.three{
    width: 35%;
    /* background-color: rgb(219, 14, 14); */
    padding-top: 15%;
    margin-left: 100px;
    margin-right: 10px;

}
.three p{
    text-align: left;
    font-size: 18px;
    opacity: 0.8;
}
.three input{
   
    height: 40px;
    width: 90%;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.233);
}
.three button{
    margin-top: 10px;
    height: 45px;
    width: 170px;
    cursor: pointer;
    background-color: black;
    color: white;
}
.three button:hover{
background-color: white;
color: black;
}
.main-fab{
    display: flex;
    justify-content: left;
    margin-top: 40px;
}
.last{
    margin-left: 20px;
    
}
