*{
    margin: 0PX;
    padding: 0PX;
    box-sizing: border-box;
    /* color: white; */

}

.nav{
    /* background-color: rgb(209, 205, 205); */
    background-color: rgb(25, 0, 59);
    /* background: linear-gradient(to top, rgb(150, 150, 151), rgb(17, 0, 55)); */
    color: white;
    /* border-bottom: 2px solid rgb(7, 7, 7); */
    height: 60PX;
    width: 100%;
    display: flex;
}
.menu{
    height: 100%;
    width: 30%;
    color: white;
    /* background-color: yellow; */
    display: flex;
    font-size: small;
    cursor: pointer;
    /* font-weight: bold; */
    justify-content: space-between;
    
}
.head{
    /* background-color: orange; */
    height: 100%;
    width: 40%;
    text-align: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pic{
    /* background-color: chartreuse; */
    height: 100%;
    width: 10%;
    margin-left: 20%;
    text-align: center;
    align-content: center;
    cursor: pointer;
}

.link{
    /* border: 1px solid white; */
    height: 100%;
    width: 30%;
    text-align: center;
    align-content: center;
    padding: 5px;
    color: white;
    font-weight: bold;
}

.one1{
    border-bottom: 3px solid rgb(250, 254, 3);
}

.top{
    border-bottom: 1px solid rgb(204, 201, 201);
    display: flex;
    padding: 8px;
    font-size: small
}
.select{
    background-color: transparent;
    margin-left: 3px;
    border-radius: 5px;
    text-align: center;
}

.drope{
    background-color: transparent;
    border-style: none;
    appearance: none;       
    cursor: pointer; 
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: large;
    width: 82px;
    /* border: 1px solid white; */
    /* background-color: brown; */

}
.drope:hover{
    color: rgb(250, 254, 3);
    /* background-color: white; */
    /* border-style: none; */
    /* text-align: unset; */
    /* text-align: ; */
    font-size: larger;
}

.pic img{
    height: 100%;
    width: auto;
}